<div>
    <a href=home><img src="../../../../assets/images/online_shopping_concept_woman_shopping_in_laptop_design_6826033.jpg" alt="" ></a>
    
    <!-- <h1>shop</h1> -->
    <!-- <h2>asd</h2> -->

    <!-- <img [src]="/Frontend//src//assets/images/depositphotos_110753186-stock-illustration-online-shop-online-store-logo.jpg" alt=""> -->

    <app-auth-menu></app-auth-menu>
    
    <span id="contact">
        <span>contact:</span>
        <br>
            <a href="tel:0585102040">  phoneNum: 058-5-10-20-40</a>
            <br>
            <a href="mailto:1urielraz@gmail.com">email: 1urielraz@gmail.com</a>
    </span>
</div>
